@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Noto+Serif+JP:wght@200;300;400&display=swap");

body {
  margin: 0;
 font-family: 'Montserrat', 'Noto Serif JP', serif;
  -webkit-font-smoothing: antialiased;
}
.font-serif {
  font-family: "Cormorant Garamond", serif;
}
.font-sans {
  font-family: "Inter", sans-serif;
}


